#allRedflags {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#allRedflags td, #allRedflags th {
  border: 1px solid #ddd;
  padding: 8px;
}

#allRedflags tr:nth-child(even){background-color: #f2f2f2;}

#allRedflags tr:hover {background-color: #ddd;}

#allRedflags th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#allRedflags tr .view
{
text-decoration: none; 
background: green;
margin: 2px 8px;
padding: 6px 4px; 
color: #fff;
}
#allRedflags tr .view:hover{
background: rgb(105, 92, 92);
}
.column1_redflag {
float: left;
width: 15%;
padding: 1px;
}

.column2_redflag {
 float: left; 
 width: 85%;
padding: 1px;
margin-left: 0;  
text-align: center;  
}  
.column2_redflag#addnew{
margin-left: 150px;
}
/* Clear floats after the columns */
.row_redflag:after {
content: "";
display: table;
clear: both;
}
.vertical-menu {
width: 100%;
}

.vertical-menu a {
background-color: #eee;
color: black;
display: block;
padding: 12px;
text-decoration: none;
}

.vertical-menu a:hover {
background-color: #ccc;
}

.vertical-menu a.active {
background-color: #4CAF50;
color: white;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

 .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  height: 100%;
  align-content: center;
  margin: 0 auto;
  margin-top: 20px;

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#savebutton{
  margin-right: 250px;
}

.link:hover{
  color: green;
}

.adheader h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Responsive layout*/
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .column1_redflag{
    width: 100%;
    padding: 10px;
  }
  .column2_redflag {
    width: 100% ;
    padding: 10px;
  }
}

