* {
    box-sizing: border-box;
}
.nav .fa-chevron-down{
    font-size: .8em;
}
body{
    padding: 0px;
    margin: 0px;
    background:url('sky.jpg');
  }

    h1,h2,h3,h4,h5,h6{
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 5px;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    .clearfix::after{
        display: block;
        clear: both;

    }
    .btn{
        padding: .5em 1rem;
        float: left;
        background:  rgb(7, 97, 109); 
        color: white;
        border: 1px solid transparent;
        border-radius: .25rem;
        text-align: center;
    }
    .action {
        text-align: center !important;
    }
    .action .btn.read-more.dash{
        margin-left: 20px;
        margin-right: 20px;
    }
   
.btn:hover{
    color: white !important;
    background:  rgb(13, 42, 46); 
}
.text-input{
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px; 
    outline: none;
    line-height: 1.5rem;
    color: gray;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-origin: 1px solid white;



}
/* NavBar */

header{
    background: rgb(7, 97, 109); 
    height: 66px;
}
header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
 }
header .logo-text{
    margin: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header .logo-text span{
    color: rgb(27,170,180);
    }
.active{
    background: gray;
}
header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
    
header ul li { 
        float: left;
        position: relative;
    }
header ul li ul{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 99999;
   }   
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 5px;
    color: black;
    background: white;
}
header ul li ul li a.logout{
    color: red;
}
header ul li ul li a:hover{
    background: khaki;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
    }
    header ul li a:hover{
        background: rgb(67, 182, 67);
        transition: 0.5s;
    }
header .menu-toggle{
   
    display: none;
}

header *{
    color: white;
}
.page-wrapper.article{
    margin-bottom: 0%;
    margin-left: 250px;
 }

.page-wrapper a:hover{
    color: green;
}

/* CONTENT */
.content{
    width: 90%;
    margin: 30px auto 30px;

}
.content .search {
width: 60%;
margin: 0 23%;
height: 42px;
padding: 10px;
font-size: 18px;

}
.content  .post{
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
    text-align: center;
    
}
.content  .post .read-more{
    bottom: 10px;
    right: 10px;
    border: 1px solid  rgb(7, 97, 109); 
    background: transparent;
    border-radius: 0px;
    color: rgb(7, 97, 109) !important; 
    margin-top: 7%;
}
.content  .post .read-more:hover{
    background: rgb(7, 97, 109);
    color: white !important;
    transition: .25s;
}
.content  .post .post-image{
    width: 60%;
    height: 300px;
    margin: 0 23%;
}
.content  .post .post-preview{
    width: 100%;
    padding: 10px;
    float: right;
    }
    .content  .post .preview-text{
        width: 60%;
        padding: 10px;
        margin: 0 23%;
        }
        .separate2{
            margin-top: 200px;
        }
 /* Landing Page */
 
 #showcase{
    background-image:url('../images/sky.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#showcase h1{
    font-size: 50px;
    line-height: 1.2;
}
#showcase p{
    font-size: 20px;
}
#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: azure;
    border: azure 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
#showcase .button:hover{
    background: bisque;
    color: burlywood;

}
/* Landing Page */

/*MEDIA QUERIES*/

@media only screen and (max-width: 750px) {
header{
    position: relative;
}
header ul{
    width: 100%;
    background: rgb(187, 194, 181);
    max-height: 0px;
    /* border: 1px solid red; */
    overflow: hidden;

}
.showing{
   max-height: 100em; 
}
header ul li{
    width: 100%;
}
header ul li ul{
    position: static;
    width: 180px;
    display: block;
    width: 100%;
   }  
   header ul li ul li a{
    padding: 5px;
    color: white;
    padding-left: 50px;
    background:rgb(187, 194, 181);;
}
header ul li ul li a.logout{
    color: red;
} 
header .menu-toggle{
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
}
header .logo{

    margin-left: .5em;
 }
 }
/* Dashboard Article  */
#wrapper{
    width: 100%;
}
#wrapper img{
    width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
    align-content: center;
    padding-left: 20%;
}
#wrapper p{
    width: 80%;
    align-content: center;
    padding-left: 20%;
}
#wrapper h1{
    text-align: center;
    margin-top: 50px;
   
    
}
  